
.DS_Store

CoreAnimationGame.xcodeproj/project.xcworkspace/xcuserdata/Coleman.xcuserdatad/UserInterfaceState.xcuserstate

CoreAnimationGame.xcodeproj/xcuserdata/Coleman.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
